#about {
    position: relative;
    /* height:700px; */
    background-color: goldenrod;
    align-items: center;
    margin-top: 100px;

}

#about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    position: relative;

}

#about .container div:first-of-type {
    width: 50%;
    /* background-color: white; */
    position: relative;
    height: 60%;

}



#about .container div:first-of-type img {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}






#about .container div:last-of-type {
    padding: 0 20px;
    width: 40%;
    margin: auto;
    text-align: center;

}

#about .container div:last-of-type h1 {
    font-weight: bolder;
    font-size: 40px;
    color: black;
}

#about .container div:last-of-type p {
    text-align: justify;
    font-size: 25px;
    color: black;
    margin: auto;
    line-height: 1.5em;
    word-spacing: 0.2em;
    padding-bottom: 70px;

}




#about .container div:last-of-type a {
    font-weight: bolder;
    padding: 0 20px;
    height: 30px;
    padding: 15px 25px;
    border: 1px solid white;

    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 4;

}

#about .container div:last-of-type a::after {
    content: '';
    width: 100%;
    transition: 1s;
    position: absolute;
    height: 100%;
    background-color: green;
    left: 0;
    top: 0;
    /* opacity: 0%; */
    z-index: -4;

    transform: scale(0);
}

#about .container div:last-of-type a:hover {

    text-decoration: underline;
    color: white;


}

#about .container div:last-of-type a:hover::after {
    text-decoration: underline;
    transform: scale(1);


}




@media (max-width:768px) {
    #about .container {
        flex-direction: column;
        gap: 10rem;

    }

    #about .container div:first-of-type {
        margin-top: 20px;
        width: 80%;
        height: 50%;

    }

    #about .container div:last-of-type {
        width: 80%;
        padding-bottom: 60px;

    }

}

@media (max-width:500px) {
    #about .container div:last-of-type h1 {
        font-size: 30px;
        margin-top: -30px;
    }

    #about .container div:last-of-type p {
        font-size: 20px;
    }

}